@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-900 text-zinc-50;
}

.headline-1,
.headline-2 {
  @apply max-w-max;
  background: -webkit-linear-gradient(0deg, #fafafa, #a1a1a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headline-1 {
  @apply text-5xl leading-tight font-semibold lg:text-[55px] lg:leading-[1.15];
}

.headline-2 {
  @apply text-3xl lg:text-4xl lg:leading-tight font-semibold;
}

.container {
  @apply px-4 mx-auto lg:px-8 xl:max-w-6xl;
}

.prose-blog {
  @apply prose prose-invert prose-lg max-w-none;
}

.prose-blog pre {
  @apply bg-zinc-800 rounded-lg;
}
